.menu__nav {
  display: none;

  @include on-desktop-md {
    display: block;
  }
}



.nav {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $main-color-text;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #1b2129;
      transition: transform .3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__item {

    &-contacts {
      display: flex;
      flex-direction: row;

      .nav__link {
        color: $color-contacts;
        text-transform: uppercase;

        &::after {
          background-color: $color-contacts;
        }
      }

    }

    &--position {
      margin-right: 64px;
    }
  }
}
