@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop-md {
  @media (min-width: $desktop-md-min-width) {
    @content;
  }
}

@mixin on-desktop-xl {
  @media (min-width: $desktop-xl-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 44px;
  }

  @include on-desktop-xl {
    padding-inline: 124px;
  }
}

