$c-gray: #eee;
$main-color-text: #1C1A26;
$color-contacts: #F9512E;
$tablet-min-width: 576px;
$desktop-md-min-width: 1024px;
$desktop-xl-min-width: 1200px;
$header-text-color: #F9512E;
$btn-focused: #B2341A;
$btn-disabled: #FBA28F;
